# Data Analysis - Major League Baseball Data

## Series

In [114]:
import pandas as pd
import numpy as np

# Creating an empty series, will result in DeprecationWarning
#series = pd.Series()

# Passing dtype as a parameter to Series for an empty series to avoid DeprecationWarning
# Creating an empty series
series = pd.Series(dtype='float64')
# Newline to separate series print statements
print('{}\n'.format(series))

Series([], dtype: float64)

In [115]:
series = pd.Series(5)
print('{}\n'.format(series))

0    5
dtype: int64

In [116]:
series = pd.Series([1, 2, 3])
print('{}\n'.format(series))

0    1
1    2
2    3
dtype: int64

In [117]:
series = pd.Series([1, 2.2]) # upcasting
print('{}\n'.format(series))

0    1.0
1    2.2
dtype: float64

In [118]:
arr = np.array([1, 2])
series = pd.Series(arr, dtype=np.float32)
print('{}\n'.format(series))

0    1.0
1    2.0
dtype: float32

In [119]:
series = pd.Series([[1, 2], [3, 4]])
print('{}\n'.format(series))

series = pd.Series(["Vee","Pree","Fluffy"])
print('{}\n'.format(series))

0    [1, 2]
1    [3, 4]
dtype: object

0       Vee
1      Pree
2    Fluffy
dtype: object

In [120]:
# custom indexing
series = pd.Series(["Albert","Duke","Jerry"],index=[1,2,3])
print('{} \n'.format(series))

1    Albert
2      Duke
3     Jerry
dtype: object

In [121]:
#index can be made of any static type
series = pd.Series([1, 2, 3], index=['a', 8, 0.3])
print('{}\n'.format(series))

a      1
8      2
0.3    3
dtype: int64

### Exercise

In [122]:
s1 = pd.Series([1,3,5.2])
print('{}\n'.format(s1))

s2 = s1 * pd.Series([0.1,0.2,0.3])
print('{}\n'.format(s2))

s3 = pd.Series([1,3,8,np.nan],index = ['a', 'b', 'c', 'd'])
print('{}\n'.format(s3))

s4 = pd.Series({'a':0 , 'b':1 , 'c':2})
print('{}\n'.format(s4))

0    1.0
1    3.0
2    5.2
dtype: float64

0    0.10
1    0.60
2    1.56
dtype: float64

a    1.0
b    3.0
c    8.0
d    NaN
dtype: float64

a    0
b    1
c    2
dtype: int64

## DataFrame

In [123]:
df = pd.DataFrame()

In [124]:
df = pd.DataFrame([1,2,3])
print('{}\n'.format(df))

   0
0  1
1  2
2  3

In [125]:
df = pd.DataFrame([[1,2,3]])
print('{}\n'.format(df))

   0  1  2
0  1  2  3

In [126]:
df = pd.DataFrame([[1,2],[5,6]],columns =['c1','c2'] , index =['r1','r2'])
print('{}\n'.format(df))

    c1  c2
r1   1   2
r2   5   6

In [127]:
df = pd.DataFrame({'c1':[1,2],'c2':[4,5]},index=['r1','r2'])
print('{}\n'.format(df))

    c1  c2
r1   1   4
r2   2   5

### Upcasting Dataframe

In [128]:
upcast = pd.DataFrame([[5, 6], [1.2, 3]])

In [129]:
print('{}\n'.format(upcast))
print('\n',upcast.dtypes)

     0  1
0  5.0  6
1  1.2  3


 0    float64
1      int64
dtype: object

In [130]:
df = pd.DataFrame([[5, 6], [1.2, 3]])
ser = pd.Series([0, 0], name='r3')

#df_app = df.append(ser)
#print('{}\n'.format(df_app))

### Concatinating DataFrame

In [131]:

df = pd.DataFrame([[5, 6], [1.2, 3]])
ser = pd.Series([0, 0], name='r3')

df_app = pd.concat([df,ser],ignore_index = True)
print('{}\n'.format(df_app))

     0    1
0  5.0  6.0
1  1.2  3.0
2  0.0  NaN
3  0.0  NaN

In [132]:
df2 = pd.DataFrame([[0,0],[9,9]])
df_app = pd.concat([df_app,df2])
print('{}\n'.format(df_app))

     0    1
0  5.0  6.0
1  1.2  3.0
2  0.0  NaN
3  0.0  NaN
0  0.0  0.0
1  9.0  9.0

### Dropping Data

In [133]:
df = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4],
                   'c3': [5, 6]},
                  index=['r1', 'r2'])
print('{}\n'.format(df))

    c1  c2  c3
r1   1   3   5
r2   2   4   6

In [134]:
df_drop = df.drop(labels='r1')
print('{}\n'.format(df_drop))

    c1  c2  c3
r2   2   4   6

In [135]:

# Drop columns c1, c3
df_drop = df.drop(labels=['c1', 'c3'], axis=1)
print('{}\n'.format(df_drop))

    c2
r1   3
r2   4

In [136]:


df_drop = df.drop(columns='c2')
print('{}\n'.format(df_drop))

    c1  c3
r1   1   5
r2   2   6

In [137]:

df.drop(index='r2', columns='c2')
print('{}\n'.format(df_drop))

    c1  c3
r1   1   5
r2   2   6

In [138]:
df =pd.DataFrame({'c1':[0,1,2,3],'c2':[5,6,7,8]},index=['r1', 'r2', 'r3', 'r4'])
print('{}\n'.format(df))

    c1  c2
r1   0   5
r2   1   6
r3   2   7
r4   3   8

In [139]:
row_df =  pd.DataFrame([[9,9]],columns=['c1', 'c2'],index=['r5'])
print('{}\n'.format(row_df))

    c1  c2
r5   9   9

In [140]:
#df_app = df.append(row_df)
df_app = pd.concat([df,row_df])
df_drop = df_app.drop(labels='r2')

print('{}\n'.format(df_app))
print('{}\n'.format(df_drop))

    c1  c2
r1   0   5
r2   1   6
r3   2   7
r4   3   8
r5   9   9

    c1  c2
r1   0   5
r3   2   7
r4   3   8
r5   9   9

## Combining

In [143]:
df1 = pd.DataFrame({'c1':[1,2], 'c2':[3,4]},
                   index=['r1','r2'])
df2 = pd.DataFrame({'c1':[5,6], 'c2':[7,8]},
                   index=['r1','r2'])
df3 = pd.DataFrame({'c1':[5,6], 'c2':[7,8]})

In [144]:

concat = pd.concat([df1, df2], axis=1)
# Newline to separate print statements
print('{}\n'.format(concat))

concat = pd.concat([df2, df1, df3])
print('{}\n'.format(concat))

concat = pd.concat([df1, df3], axis=1)
print('{}\n'.format(concat))

    c1  c2  c1  c2
r1   1   3   5   7
r2   2   4   6   8

    c1  c2
r1   5   7
r2   6   8
r1   1   3
r2   2   4
0    5   7
1    6   8

     c1   c2   c1   c2
r1  1.0  3.0  NaN  NaN
r2  2.0  4.0  NaN  NaN
0   NaN  NaN  5.0  7.0
1   NaN  NaN  6.0  8.0

### Merging

In [145]:
mlb_df1 = pd.DataFrame({'name': ['john doe', 'al smith', 'sam black', 'john doe'],
                        'pos': ['1B', 'C', 'P', '2B'],
                        'year': [2000, 2004, 2008, 2003]})
mlb_df2 = pd.DataFrame({'name': ['john doe', 'al smith', 'jack lee'],
                        'year': [2000, 2004, 2012],
                        'rbi': [80, 100, 12]})

In [149]:
                      
print('{}\n'.format(mlb_df1))
print('{}\n'.format(mlb_df1))

mlb_merged = pd.merge(mlb_df1, mlb_df2)
print('{}\n'.format(mlb_merged))

        name pos  year
0   john doe  1B  2000
1   al smith   C  2004
2  sam black   P  2008
3   john doe  2B  2003

        name pos  year
0   john doe  1B  2000
1   al smith   C  2004
2  sam black   P  2008
3   john doe  2B  2003

       name pos  year  rbi
0  john doe  1B  2000   80
1  al smith   C  2004  100

In [150]:
def concat_rows(df1, df2):
  row_concat = pd.concat([df1,df2])
  return row_concat

In [151]:
def concat_cols(df1, df2):
  col_concat = pd.concat([df1,df2],axis = 1)
  return col_concat

In [164]:
def merge_dfs(df1, df2):
  merged_df = pd.merge(df1,df2)
  return merged_df

## Indexing

### Direct Indexing

In [165]:
df = pd.DataFrame({'name':['albert','rob','timothy'],'age':[30,26,55]})
print('{}\n'.format(df))

      name  age
0   albert   30
1      rob   26
2  timothy   55

In [166]:
col1 = df['name']
#output is a series
print('{}\n'.format(col1))

0     albert
1        rob
2    timothy
Name: name, dtype: object

In [167]:

col1_df = df[['age']]
#output is a dataframe
print('{}\n'.format(col1_df))

   age
0   30
1   26
2   55

In [168]:

col23 = df[['name', 'age']]
print('{}\n'.format(col23))

      name  age
0   albert   30
1      rob   26
2  timothy   55

In [169]:
df = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index=['r1', 'r2', 'r3'])

In [170]:
first_two_rows = df[0:2]
print('{}\n'.format(first_two_rows))

    c1  c2  c3
r1   1   4   7
r2   2   5   8

In [171]:
last_two_rows = df['r2':'r3']
print('{}\n'.format(last_two_rows))

    c1  c2  c3
r2   2   5   8
r3   3   6   9

In [172]:
df = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index=['r1', 'r2', 'r3'])
                   
print('{}\n'.format(df))

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

In [175]:

print('{}\n'.format(df.iloc[1])) #row 1

print('{}\n'.format(df.iloc[[0, 2]])) #row 0,2

bool_list = [False, True, True]
print('{}\n'.format(df.iloc[bool_list])) #row 0-> False , row1 -> true , row2 -> true

c1    2
c2    5
c3    8
Name: r2, dtype: int64

    c1  c2  c3
r1   1   4   7
r3   3   6   9

    c1  c2  c3
r2   2   5   8
r3   3   6   9

In [176]:
df = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index=['r1', 'r2', 'r3'])
                   
print('{}\n'.format(df))

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

In [199]:

print('{}\n'.format(df.loc['r2']))

bool_list = [False, True, True]
print('{}\n'.format(df.loc[bool_list]))

single_val = df.loc['r1', 'c2']
print('Single val: {}\n'.format(single_val))

print('{}\n'.format(df.loc[['r1', 'r3'], 'c2']))

df.loc[['r1', 'r3'], 'c2'] = 0
print('{}\n'.format(df))

c1    2
c2    5
c3    8
Name: r2, dtype: int64

    c1  c2  c3
r2   2   5   8
r3   3   0   9

Single val: 0

r1    0
r3    0
Name: c2, dtype: int64

    c1  c2  c3
r1   1   0   7
r2   2   5   8
r3   3   0   9

In [215]:
pitching = pd.read_csv('pitching.csv',encoding='unicode_escape',delimiter=';',index_col=0)

In [216]:
print('{}\n'.format(pitching))

               Name  Age   Tm  Lg  W  L
Rk
1       Cory Abbott   26  WSN  NL  0  2
2      Albert Abreu   26  TOT  AL  2  2
3      Albert Abreu   26  TEX  AL  0  0
4      Albert Abreu   26  KCR  AL  0  0
5      Albert Abreu   26  NYY  AL  2  2
6       Bryan Abreu   25  HOU  AL  4  0
7   Domingo Acevedo   28  OAK  AL  4  4
8        Jason Adam   30  TBR  AL  2  3
9      Austin Adams   31  SDP  NL  1  0

In [250]:
groups = pitching.groupby('Age')

In [251]:
print(groups)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x1281c4690>

In [252]:
for name, group in groups:
  print('Age: {}'.format(name))
  print('{}\n'.format(group))

Age: 25
           Name  Age   Tm  Lg  W  L
Rk
6   Bryan Abreu   25  HOU  AL  4  0

Age: 26
            Name  Age   Tm  Lg  W  L
Rk
1    Cory Abbott   26  WSN  NL  0  2
2   Albert Abreu   26  TOT  AL  2  2
3   Albert Abreu   26  TEX  AL  0  0
4   Albert Abreu   26  KCR  AL  0  0
5   Albert Abreu   26  NYY  AL  2  2

Age: 28
               Name  Age   Tm  Lg  W  L
Rk
7   Domingo Acevedo   28  OAK  AL  4  4

Age: 30
          Name  Age   Tm  Lg  W  L
Rk
8   Jason Adam   30  TBR  AL  2  3

Age: 31
            Name  Age   Tm  Lg  W  L
Rk
9   Austin Adams   31  SDP  NL  1  0

In [254]:
print('{}\n'.format(groups.get_group(26)))

            Name  Age   Tm  Lg  W  L
Rk
1    Cory Abbott   26  WSN  NL  0  2
2   Albert Abreu   26  TOT  AL  2  2
3   Albert Abreu   26  TEX  AL  0  0
4   Albert Abreu   26  KCR  AL  0  0
5   Albert Abreu   26  NYY  AL  2  2

## Features

In [261]:
df = pd.DataFrame({
  'T1': [10, 15, 8],
  'T2': [25, 27, 25],
  'T3': [16, 15, 10]})
  
print('{}\n'.format(df))

   T1  T2  T3
0  10  25  16
1  15  27  15
2   8  25  10

In [262]:
print('{}\n'.format(df.sum()))

print('{}\n'.format(df.sum(axis=1)))

print('{}\n'.format(df.mean()))

print('{}\n'.format(df.mean(axis=1)))

T1    33
T2    77
T3    41
dtype: int64

0    51
1    57
2    43
dtype: int64

T1    11.000000
T2    25.666667
T3    13.666667
dtype: float64

0    17.000000
1    19.000000
2    14.333333
dtype: float64

In [270]:
df = pd.DataFrame({
  'T1': [0.1, 150.],
  'T2': [0.25, 240.],
  'T3': [0.16, 100.]})
  
print('{}\n'.format(df))

print('{}\n'.format(df.multiply(2)))

      T1      T2      T3
0    0.1    0.25    0.16
1  150.0  240.00  100.00

      T1     T2      T3
0    0.2    0.5    0.32
1  300.0  480.0  200.00

In [271]:

df_ms = df.multiply([100, 1], axis=0) # Row wise multiply , multiply default axis is column wise 
print('{}\n'.format(df_ms))

      T1     T2     T3
0   10.0   25.0   16.0
1  150.0  240.0  100.0

In [267]:
df_w = df_ms.multiply([1,0.5,1]) #column wise multiply
print('{}\n'.format(df_w))
print('{}\n'.format(df_w.sum(axis=1)))

      T1     T2     T3
0   10.0   12.5   16.0
1  150.0  120.0  100.0

0     38.5
1    370.0
dtype: float64

## Filtering

In [273]:
df = pd.DataFrame({
  'playerID': ['bettsmo01', 'canoro01', 'cruzne02', 'ortizda01', 'cruzne02'],
  'yearID': [2016, 2016, 2016, 2016, 2017],
  'teamID': ['BOS', 'SEA', 'SEA', 'BOS', 'SEA'],
  'HR': [31, 39, 43, 38, 39]})
  
print('{}\n'.format(df))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4   cruzne02    2017    SEA  39

In [274]:

cruzne02 = df['playerID'] == 'cruzne02'
print('{}\n'.format(cruzne02))

hr40 = df['HR'] > 40
print('{}\n'.format(hr40))

notbos = df['teamID'] != 'BOS'
print('{}\n'.format(notbos))

0    False
1    False
2     True
3    False
4     True
Name: playerID, dtype: bool

0    False
1    False
2     True
3    False
4    False
Name: HR, dtype: bool

0    False
1     True
2     True
3    False
4     True
Name: teamID, dtype: bool

In [276]:
cruzne02 = df[df['playerID'] == 'cruzne02']
print('{}\n'.format(cruzne02))

hr40 = df[df['HR'] > 40]
print('{}\n'.format(hr40))

notbos = df[df['teamID'] != 'BOS']
print('{}\n'.format(notbos))

   playerID  yearID teamID  HR
2  cruzne02    2016    SEA  43
4  cruzne02    2017    SEA  39

   playerID  yearID teamID  HR
2  cruzne02    2016    SEA  43

   playerID  yearID teamID  HR
1  canoro01    2016    SEA  39
2  cruzne02    2016    SEA  43
4  cruzne02    2017    SEA  39

In [277]:
df = pd.DataFrame({
  'playerID': ['bettsmo01', 'canoro01', 'cruzne02', 'ortizda01', 'cruzne02'],
  'yearID': [2016, 2016, 2016, 2016, 2017],
  'teamID': ['BOS', 'SEA', 'SEA', 'BOS', 'SEA'],
  'HR': [31, 39, 43, 38, 39]})
  
print('{}\n'.format(df))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4   cruzne02    2017    SEA  39

In [278]:

str_f1 = df['playerID'].str.startswith('c')
print('{}\n'.format(str_f1))

str_f2 = df['teamID'].str.endswith('S')
print('{}\n'.format(str_f2))

str_f3 = ~df['playerID'].str.contains('o')
print('{}\n'.format(str_f3))

0    False
1     True
2     True
3    False
4     True
Name: playerID, dtype: bool

0     True
1    False
2    False
3     True
4    False
Name: teamID, dtype: bool

0    False
1    False
2     True
3    False
4     True
Name: playerID, dtype: bool

In [279]:
str_f1 = df[df['playerID'].str.startswith('c')]
print('{}\n'.format(str_f1))

str_f2 = df[df['teamID'].str.endswith('S')]
print('{}\n'.format(str_f2))

str_f3 = df[~df['playerID'].str.contains('o')]
print('{}\n'.format(str_f3))

   playerID  yearID teamID  HR
1  canoro01    2016    SEA  39
2  cruzne02    2016    SEA  43
4  cruzne02    2017    SEA  39

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
3  ortizda01    2016    BOS  38

   playerID  yearID teamID  HR
2  cruzne02    2016    SEA  43
4  cruzne02    2017    SEA  39

In [281]:


isin_f1 = df['playerID'].isin(['cruzne02',
                               'ortizda01'])
print('{}\n'.format(isin_f1))

isin_f2 = df['yearID'].isin([2015, 2017])
print('{}\n'.format(isin_f2))

0    False
1    False
2     True
3     True
4     True
Name: playerID, dtype: bool

0    False
1    False
2    False
3    False
4     True
Name: yearID, dtype: bool

In [282]:

isin_f1 = df[df['playerID'].isin(['cruzne02',
                               'ortizda01'])]
print('{}\n'.format(isin_f1))

isin_f2 = df[df['yearID'].isin([2015, 2017])]
print('{}\n'.format(isin_f2))

    playerID  yearID teamID  HR
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4   cruzne02    2017    SEA  39

   playerID  yearID teamID  HR
4  cruzne02    2017    SEA  39

In [285]:
df = pd.DataFrame({
  'playerID': ['bettsmo01', 'canoro01', 'doejo01'],
  'yearID': [2016, 2016, 2017],
  'teamID': ['BOS', 'SEA', np.nan],
  'HR': [31, 39, 99]})
  
print('{}\n'.format(df))
isna = df['teamID'].isna()
print('{}\n'.format(isna))

notna = df['teamID'].notna()
print('{}\n'.format(notna))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2    doejo01    2017    NaN  99

0    False
1    False
2     True
Name: teamID, dtype: bool

0     True
1     True
2    False
Name: teamID, dtype: bool

In [286]:
isna = df[df['teamID'].isna()]
print('{}\n'.format(isna))

notna = df[df['teamID'].notna()]
print('{}\n'.format(notna))

  playerID  yearID teamID  HR
2  doejo01    2017    NaN  99

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39

## Sorting

In [287]:
sort1 = df.sort_values('yearID')
print('{}\n'.format(sort1))

sort2 = df.sort_values('playerID', ascending=False)
print('{}\n'.format(sort2))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2    doejo01    2017    NaN  99

    playerID  yearID teamID  HR
2    doejo01    2017    NaN  99
1   canoro01    2016    SEA  39
0  bettsmo01    2016    BOS  31

In [288]:
sort1 = df.sort_values(['yearID', 'playerID'])
print('{}\n'.format(sort1))

sort2 = df.sort_values(['yearID', 'HR'],
                       ascending=[True, False])
print('{}\n'.format(sort2))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2    doejo01    2017    NaN  99

    playerID  yearID teamID  HR
1   canoro01    2016    SEA  39
0  bettsmo01    2016    BOS  31
2    doejo01    2017    NaN  99